<template>
  <div class="list">
    <el-form
      class="form"
      ref="form"
      :model="searchParams"
      label-width="120px"
      inline
      hide-required-asterisk
    >
      <el-form-item class="item-wrap" label="订单号：" prop="productName">
        <el-input
          class="item"
          placeholder="请输入名称"
          v-model="orderNum"
        ></el-input>
      </el-form-item>
      <el-form-item class="right">
        <el-button @click="search()" background="#fff">搜索</el-button>
        <el-button @click="reset">清空</el-button>
      </el-form-item>
      <div>
      </div>
    </el-form>

    <div class="table-wrap" v-loading="loading">
      <el-table :data="listParams.list" stripe style="width: 100%">
        <el-table-column prop="orderNo" label="订单号"> </el-table-column>
        <el-table-column prop="receiverName" label="收件人"> </el-table-column>
        <el-table-column prop="statusDesc" label="订单状态"> </el-table-column>
        <el-table-column prop="payment" label="订单总价"> </el-table-column>
        <el-table-column prop="createTime" label="创建时间"> </el-table-column>
        <el-table-column label="操作">
          <template>
            <el-button type="text" background="#000">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-col class="pagination-wrap">
        <el-pagination
          layout="prev, pager, next"
          :total="listParams.total"
          :current-page.sync="listParams.pageNum"
          :size="listParams.pageSize"
          @current-change="handleChange"
        >
        </el-pagination>
      </el-col>
    </div>
  </div>
</template>

<script>
import { searchOrderList, handleStatus, getGoodsDingdan} from "@/http/api";
export default {
  data() {
    return {
      open: false,
      orderNum: '',
      searchParams: {
        productName: "",
        date: "",
        select: "",
      },
      listParams: {
        pageNum: 1,
        pageSize: 10,
        list: [],
        total: 0,
      },
      
      arr: [1],
      loading: false,
      isSearched: false,
    };
  },
  computed: {
    routeTab() {
      return `订单管理`;
    },
  },

  methods: {
    handleEdit(id) {
      this.$router.push({ name: "goodsEdit", params: { id } });
    },
    //获取商品列表
    async getGoodsDingdan(obj) {
      this.loading = true;
      const res = await getGoodsDingdan(obj).finally(() => {
        this.loading = false;
      });
      this.listParams = res;
      // console.log(this.listParams)
    },
    //清空表单查询条件
    reset() {
      this.$refs.form.resetFields();
    },
    
    //页码变化事件
    async handleChange(val) {
      this.arr.push(val);
      if (this.arr.length > 2) {
        this.arr.splice(0, 1);
      }
      try {
        this.loading = true;
        const { pageSize, pageNum } = this.listParams;
        if (this.isSearched) {
          await this.searchGoodsDing(val);
        } else {
          await this.getGoodsDingdan({ pageSize, pageNum: val });
        }
        this.loading = false;
      } catch (error) {
        this.arr.splice(1, 1);
        this.loading = false;
        this.listParams = { ...this.listParams, pageNum: this.arr[0] };
      }
    },
    //商品搜索
    async searchOrderList(orderNo) {
      const res = await searchOrderList(orderNo);
      this.orderObj = res;
    },
    //搜索
    search() {
      if (!this.orderNum.trim()) {
        this.getGoodsDingdan();
      } else {
        this.searchOrderList(this.orderNum);
      }
    },
  },
  mounted() {
    this.getGoodsDingdan(this.listParams);
  },
};
</script>
<style lang="scss" scoped>
.list {
  .form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    .item-wrap {
      display: inline-flex;
      width: 32%;
      box-sizing: border-box;
      ::v-deep .el-form-item__label {
        flex-shrink: 0;
      }
      ::v-deep .el-form-item__content {
        flex: 1;
      }
      ::v-deep .el-input__inner {
        width: 100%;
      }
    }
    .right {
      float: right;
    }
  }
  .table-wrap {
    border-radius: 5px;
    .pagination-wrap {
      display: flex;
      padding: 15px 0;
      justify-content: flex-end;
      background-color: #fff;
    }
  }
}
</style>
