<template>
  <div class="list">
    <el-form
      class="form"
      ref="form"
      :rules="searchParamsRules"
      :model="searchParams"
      label-width="120px"
      inline
      hide-required-asterisk
    >
      <div>
        <router-link :to="{ name: 'goodsAdd' }">
          <el-button type=" ">新增</el-button>
        </router-link>
      </div>
    </el-form>

    <div class="table-wrap" v-loading="loading">
      <el-table :data="listParams" stripe style="width: 100%">
        <el-table-column prop="name" label="名称"> </el-table-column>
        <el-table-column label="操作">
          <el-button type="text">修改</el-button>&emsp;|&emsp;<el-button
            @click="drawer = true"
      
          >
            查看详情
          </el-button>
          
        </el-table-column>
      </el-table>
      <el-col class="pagination-wrap">
        <!-- <el-pagination
          class="pagination"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="page"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="categoryList.length"
        >
        </el-pagination> -->
      </el-col>
    </div>
    <el-drawer
            title="品类详细"
            :visible.sync="drawer"
            :direction="direction"
          >
            <el-table :data="listParams" stripe>
              <el-table-column prop="name" label="名称"> </el-table-column>
            </el-table>
          </el-drawer>
  </div>
</template>
<script>
import { getGoodsFenlei, searchGoodsList, handleStatus } from "@/http/api";
export default {
  data() {
    return {
      drawer: false,
      direction: "rtl",
      categoryList: [],
      page: 1,
      pageSize: 10,
      showCategoryList: [],
      open: false,
      searchParams: {
        productName: "",
        date: "",
        select: "",
      },
      listParams: {
        pageNum: 1,
        pageSize: 10,
        list: [],
        total: 0,
      },
      searchParamsRules: {
        productName: [
          {
            required: true,
            message: "必填",
          },
        ],
      },
      arr: [1],
      loading: false,
      isSearched: false,
    };
  },
  computed: {
    routeTab() {
      return `品类管理`;
    },
    handlePagination() {
      return [this.page, this.pageSize, this.categoryList];
    },
  },

  methods: {
    
    handleSizeChange(val) {
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.page = val;
    },
    //获取商品列表
    async getGoodsFenlei(obj) {
      this.loading = true;
      const res = await getGoodsFenlei(obj).finally(() => {
        this.loading = false;
      });
      this.listParams = res;
      // console.log(this.listParams)
    },
  },
  watch: {
    //处理分页
    handlePagination: {
      deep: true,
      immediate: true,
      handler() {
        this.showCategoryList = this.categoryList.slice(
          (this.page - 1) * this.pageSize,
          this.page * this.pageSize
        );
      },
    },
  },
  mounted() {
    this.getGoodsFenlei(this.listParams);
  },
};
</script>
<style lang="scss" scoped>
.list {
  .form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    .item-wrap {
      display: inline-flex;
      width: 32%;
      box-sizing: border-box;
      ::v-deep .el-form-item__label {
        flex-shrink: 0;
      }
      ::v-deep .el-form-item__content {
        flex: 1;
      }
      ::v-deep .el-input__inner {
        width: 100%;
      }
    }
    .right {
      float: right;
    }
  }
  .table-wrap {
    border-radius: 5px;
    .pagination-wrap {
      display: flex;
      padding: 15px 0;
      justify-content: flex-end;
      background-color: #fff;
    }
  }
}
</style>
