<template>
  <div class="goods">
    <router-view></router-view>
    <router-view name="add"></router-view>
    <router-view name="fenlei"></router-view>
    <router-view name="dingdan"></router-view>
    <router-view name="user"></router-view>
  </div>
</template>

<script>
export default {};
</script>
<style></style>
