<template>
  <div class="list">
    <el-form
      class="form"
      ref="form"
      :rules="searchParamsRules"
      :model="searchParams"
      label-width="120px"
      inline
      hide-required-asterisk
    >
      <el-form-item class="item-wrap" label="名称" prop="productName">
        <el-input
          class="item"
          placeholder="请输入名称"
          v-model="searchParams.productName"
        ></el-input>
      </el-form-item>
      <el-form-item class="item-wrap" label="标题" prop="productName">
        <el-input
          class="item"
          placeholder="请输入标题"
          v-model="searchParams.productName"
        ></el-input>
      </el-form-item>
      <el-form-item
        class="item-wrap"
        label="价格"
        placeholder="请输入价格"
        prop="productName"
      >
        <el-input class="item" v-model="searchParams.productName"></el-input>
      </el-form-item>
      <template v-if="open">
        <el-form-item class="item-wrap" label="时间">
          <el-date-picker
            class="item"
            v-model="searchParams.date"
            type="datetimerange"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['12:00:00']"
          >
          </el-date-picker>
        </el-form-item>
      </template>
      <el-form-item class="right">
        <el-button @click="searchGoodsList(1)">搜索</el-button>
        <el-button @click="reset">清空</el-button>
        <!-- <el-button @click="open = !open" type="text"
          >{{ !open ? "展开" : "折叠"
          }}<i
            :class="{ 'el-icon-arrow-down': !open, 'el-icon-arrow-up': open }"
          ></i
        ></el-button> -->
      </el-form-item>
      <div>
        <router-link :to="{ name: 'goodsAdd' }">
          <el-button >新增</el-button>
        </router-link>
      </div>
    </el-form>

    <div class="table-wrap" v-loading="loading">
      <el-table :data="listParams.list" stripe style="width: 100%">
        <el-table-column prop="name" label="名称"> </el-table-column>
        <el-table-column prop="subtitle" label="标题"> </el-table-column>
        <el-table-column prop="price" label="价格"> </el-table-column>
        <el-table-column label="商品状态">
          <template slot-scope="{ row }">
            <template v-if="row.status === 1">
              <span style="display: inline-block; width: 60px">在售</span>
              <el-button size="mini" @click="handleStatus(row)"
                >设置下架</el-button
              >
            </template>
            <template v-else>
              <span style="display: inline-block; width: 60px">已下架</span>
              <el-button size="mini" @click="handleStatus(row)"
                >设置上架</el-button
              >
            </template>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="{ row }">
            <el-button @click="drawer = true">
              查看详情
            </el-button>
            <el-drawer
              title="商品详细"
              :visible.sync="drawer"
              :direction="direction"
            >
              <el-table :data="listParams.list" stripe>
                <el-table-column prop="name" label="名称"> </el-table-column>
                <el-table-column prop="subtitle" label="标题">
                </el-table-column>
                <el-table-column prop="price" label="价格"> </el-table-column>
              </el-table>
            </el-drawer>
            &emsp;|&emsp;<router-link :to="{ name: 'goodsEdit' }"
              ><el-button type="text" @click="handleEdit(row.id)"
                >编辑</el-button
              ></router-link
            >
          </template>
        </el-table-column>
      </el-table>
      <el-col class="pagination-wrap">
        <el-pagination
          layout="prev, pager, next"
          :total="listParams.total"
          :current-page.sync="listParams.pageNum"
          :size="listParams.pageSize"
          @current-change="handleChange"
        >
        </el-pagination>
      </el-col>
    </div>
  </div>
</template>

<script>
import { getGoodsList, searchGoodsList, handleStatus } from "@/http/api";
export default {
  data() {
    return {
      drawer: false,
      direction: "rtl",
      open: false,
      searchParams: {
        productName: "",
        date: "",
        select: "",
      },
      listParams: {
        pageNum: 1,
        pageSize: 10,
        list: [],
        total: 0,
      },
      searchParamsRules: {
        productName: [
          {
            required: true,
            message: "必填",
          },
        ],
      },
      arr: [1],
      loading: false,
      isSearched: false,
    };
  },
  computed: {
    routeTab() {
      return `商品列表`;
    },
  },

  methods: {
    
    handleEdit(id) {
      this.$router.push({ name: "goodsEdit", params: { id } });
    },
    //上下架
    async handleStatus(row) {
      const { status, id: productId } = row;
      await handleStatus({ status: status == 1 ? 2 : 1, productId });
      row.status = status == 1 ? 2 : 1;
    },
    //清空表单查询条件
    reset() {
      this.$refs.form.resetFields();
    },
    //获取商品列表
    async getGoodsList(obj) {
      this.loading = true;
      const res = await getGoodsList(obj).finally(() => {
        this.loading = false;
      });
      this.listParams = res;
      // console.log(this.listParams)
    },
    //页码变化事件
    async handleChange(val) {
      this.arr.push(val);
      if (this.arr.length > 2) {
        this.arr.splice(0, 1);
      }
      try {
        this.loading = true;
        const { pageSize, pageNum } = this.listParams;
        if (this.isSearched) {
          await this.searchGoodsList(val);
        } else {
          await this.getGoodsList({ pageSize, pageNum: val });
        }
        this.loading = false;
      } catch (error) {
        this.arr.splice(1, 1);
        this.loading = false;
        this.listParams = { ...this.listParams, pageNum: this.arr[0] };
      }
    },
    //商品搜索
    async searchGoodsList(pageNum) {
      const { pageSize } = this.listParams;
      this.loading = true;
      try {
        const res = await searchGoodsList({
          ...this.searchParams,
          pageSize,
          pageNum,
        });
        this.listParams = res;
      } catch (error) {
        this.$message.err(error);
      }

      this.isSearched = true;
      this.loading = false;
    },
  },
  mounted() {
    this.getGoodsList(this.listParams);
  },
};
</script>
<style lang="scss" scoped>
.list {
  .form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    .item-wrap {
      display: inline-flex;
      width: 32%;
      box-sizing: border-box;
      ::v-deep .el-form-item__label {
        flex-shrink: 0;
      }
      ::v-deep .el-form-item__content {
        flex: 1;
      }
      ::v-deep .el-input__inner {
        width: 100%;
      }
    }
    .right {
      float: right;
    }
  }
  .table-wrap {
    border-radius: 5px;
    .pagination-wrap {
      display: flex;
      padding: 15px 0;
      justify-content: flex-end;
      background-color: #fff;
    }
  }
}
</style>
