<template>
  <div class="list">
    <div class="table-wrap" v-loading="loading">
      <el-table :data="listParams.list" stripe style="width: 100%">
        <el-table-column prop="username" label="账号"> </el-table-column>
        <el-table-column prop="phone" label="电话"> </el-table-column>
        <el-table-column prop="email" label="邮箱"> </el-table-column>
        <el-table-column prop="createTime" label="注册时间"></el-table-column>
        <el-table-column label="Action">
        </el-table-column>
      </el-table>
      <el-col class="pagination-wrap">
        <el-pagination
          layout="prev, pager, next"
          :total="listParams.total"
          :current-page.sync="listParams.pageNum"
          :size="listParams.pageSize"
          @current-change="handleChange"
        >
        </el-pagination>
      </el-col>
    </div>
  </div>
</template>

<script>
import { searchGoodsList, handleStatus, getGoodsUser } from "@/http/api";
export default {
  data() {
    return {
      open: false,
      searchParams: {
        productName: "",
        date: "",
        select: "",
      },
      listParams: {
        pageNum: 1,
        pageSize: 10,
        list: [],
        total: 0,
      },
      searchParamsRules: {
        productName: [
          {
            required: true,
            message: "必填",
          },
        ],
      },
      arr: [1],
      loading: false,
      isSearched: false,
    };
  },
  computed: {
    routeTab() {
      return `用户管理`;
    },
  },

  methods: {
    handleEdit(id) {
      this.$router.push({ name: "goodsEdit", params: { id } });
    },
    //获取商品列表
    async getGoodsUser(obj) {
      this.loading = true;
      const res = await getGoodsUser(obj).finally(() => {
        this.loading = false;
      });
      this.listParams = res;
      // console.log(this.listParams)
    },
    //清空表单查询条件
    reset() {
      this.$refs.form.resetFields();
    },
    
    //页码变化事件
    async handleChange(val) {
      this.arr.push(val);
      if (this.arr.length > 2) {
        this.arr.splice(0, 1);
      }
      try {
        this.loading = true;
        const { pageSize, pageNum } = this.listParams;
        if (this.isSearched) {
          await this.searchGoodsList(val);
        } else {
          await this.getGoodsUser({ pageSize, pageNum: val });
        }
        this.loading = false;
      } catch (error) {
        this.arr.splice(1, 1);
        this.loading = false;
        this.listParams = { ...this.listParams, pageNum: this.arr[0] };
      }
    },
    //商品搜索
    async searchGoodsList(pageNum) {
      const { pageSize } = this.listParams;
      this.loading = true;
      try {
        const res = await searchGoodsList({
          ...this.searchParams,
          pageSize,
          pageNum,
        });
        this.listParams = res;
      } catch (error) {
        this.$message.err(error);
      }

      this.isSearched = true;
      this.loading = false;
    },
  },
  mounted() {
    this.getGoodsUser(this.listParams);
  },
};
</script>
<style lang="scss" scoped>
.list {
  .form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    .item-wrap {
      display: inline-flex;
      width: 32%;
      box-sizing: border-box;
      ::v-deep .el-form-item__label {
        flex-shrink: 0;
      }
      ::v-deep .el-form-item__content {
        flex: 1;
      }
      ::v-deep .el-input__inner {
        width: 100%;
      }
    }
    .right {
      float: right;
    }
  }
  .table-wrap {
    border-radius: 5px;
    .pagination-wrap {
      display: flex;
      padding: 15px 0;
      justify-content: flex-end;
      background-color: #fff;
    }
  }
}
</style>
