<template>
  <Fragment>
    <template v-for="item in menus">
      <template v-if="item.children">
        <el-submenu :key="item.index" :index="item.index">
          <template slot="title"
            ><i :class="item.icon"></i>
            <span slot="title">{{ item.title }}</span>
          </template>
          <NavMenus :menus="item.children"></NavMenus>
        </el-submenu>
      </template>
      <el-menu-item :key="item.index" v-else :index="item.path">
        <span slot="title">{{ item.title }}</span>
      </el-menu-item>
    </template>
  </Fragment>
</template>

<script>
import { Fragment } from "vue-fragment";
export default {
  name: "NavMenus",
  props: ["menus"],
  components: {
    Fragment,
  },
};
</script>
<style></style>
