<template>
  <el-breadcrumb separator="/">
    <transition-group name="list-complete">
      <el-breadcrumb-item
        class="item"
        v-for="item in breadcrumbs"
        :key="item.name"
        v-bind="handleTo(item)"
        >{{ item.meta.title }}</el-breadcrumb-item
      >
    </transition-group>
  </el-breadcrumb>
</template>

<script>
export default {
  props: ["breadcrumbs"],
  methods: {
    handlePath(val) {
      if (val === "") {
        return "/";
      }
    },
    handleTo(item) {
      return {
        to:
          item.meta.disabled || item.name === this.$route.name
            ? null
            : { path: this.handlePath(item.path) },
      };
    },
  },
};
</script>
<style>
.item {
  transition: all 0.5s;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(-60px);
}
.list-complete-leave-active {
  position: absolute;
}
</style>
