<template>
  <div>
    <el-upload :headers="headers" action="/pc/upload">
      <el-button>click</el-button>
      <div slot="tip" class="el-upload__tip">
        只能上传jpg/png文件，且不超过500kb
      </div>
    </el-upload>

    <el-button @click="handleClick">click</el-button>
    <input
      ref="file"
      style="display: none"
      type="file"
      @change="handleChange"
    />
    <div ref="img"></div>
  </div>
</template>

<script>
import { upload } from "@/http";
export default {
  data() {
    return {
      file: null,
      headers: {
        token:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImFkbWluIiwiaWF0IjoxNjY2MjM3MTQyfQ.jIA2qg4ISMCi2kFNLwRND0d_RZZz2j426bnbYr9JXoM",
      },
    };
  },
  methods: {
    handleChange(e) {
      let file = e.target.files[0];
      upload(
        "/pc/upload",
        { file },
        {
          headers: this.headers,
        }
      );
      const image = document.createElement("img");
      image.src = URL.createObjectURL(file);
      this.$refs.img.appendChild(image);
      console.log(e);
    },
    handleClick() {
      this.$refs.file.click();
    },
  },
};
</script>
<style></style>
