<template>
  <div class="home">
    <div class="cards" v-if="indexData">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>订单总数</span>
        </div>
        <h2>{{ indexData.orderCount }}</h2>
      </el-card>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>商品总数</span>
        </div>
        <h2>{{ indexData.productCount }}</h2>
      </el-card>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>用户总数</span>
        </div>
        <h2>{{ indexData.userCount }}</h2>
      </el-card>
    </div>
    <v-chart class="chart" :options="options" />
  </div>
</template>

<script>
import ECharts from "vue-echarts";
import "echarts/lib/chart/bar";
import "echarts/lib/component/tooltip";
import { getIndex, getSales } from "@/http/api";
import { Message } from "element-ui";
export default {
  data() {
    return {
      indexData: null,
      options: null,
    };
  },
  computed: {
    routeTab() {
      return `首页`;
    },
  },
  components: {
    "v-chart": ECharts,
  },
  async beforeRouteEnter(to, from, next) {
    // 路由守卫
    const [index, sales] = await Promise.allSettled([getIndex(), getSales()]);
    const options = {
      xAxis: {
        type: "category",
        data: [],
      },
      yAxis: {
        type: "value",
      },
      series: [
        {
          data: [],
          type: "bar",
        },
      ],
    };
    next((vm) => {
      index.status === "fulfilled"
        ? (vm.indexData = index.value)
        : Message.error(index.reason.message);
      if (sales.status.includes("fulfilled")) {
        options.xAxis.data = sales.value.date;
        options.series[0].data = sales.value.data;
        return (vm.options = options);
      }
      Message.error(sales.reason.message);
    });

    // try {
    // const res = await getIndex();
    // const { data, date } = await getSales();
    // const option = {
    //   xAxis: {
    //     type: "category",
    //     data: [],
    //   },
    //   yAxis: {
    //     type: "value",
    //   },
    //   series: [
    //     {
    //       data: [],
    //       type: "bar",
    //     },
    //   ],
    // };
    // option.xAxis.data = date;
    // option.series[0].data = data;
    // next((vm) => {
    // vm.indexData = res;
    // vm.options = option;
    // });
    // } catch (error) {
    //   next();
    // }
  },
  methods: {
    //获取首页数据
    // async getIndex() {
    //   const res = await getIndex();
    //   this.indexData = res;
    // },
  },
  mounted() {
    this.getIndex();
  },
};
</script>
<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  .cards {
    display: flex;
    flex: 1;
    gap: 30px;
    margin-bottom: 15px;
    .box-card {
      flex: 1;
    }
  }
  .chart {
    width: 100%;
    background-color: #fff;
  }
}
</style>
