<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
#nprogress .bar {
  /* background: $--color-primary !important; */
}
#nprogress .spinner-icon {
  /* border-top-color: $--color-primary !important;
  border-left-color: $--color-primary !important; */
}
body {
  background-color: #f7f7f7;
}
</style>
