<template>
<div id="app">
  <div class="login">
    <el-form class="form" :model="loginObj" ref="form" @submit.native.prevent>
      <el-form-item class="logo">
        <img src="@/assets/logo.webp" />
      </el-form-item>
      <el-form-item
        prop="username"
        :rules="[
          {
            required: true,
            message: '请输入用户名',
            trigger: ['blur', 'change'],
          },
        ]"
      >
        <el-input v-model="loginObj.username" clearable>
          <i class="el-icon-user-solid" slot="prepend"></i>
        </el-input>
      </el-form-item>
      <el-form-item
        prop="password"
        :rules="[
          {
            required: true,
            message: '请输入密码',
            trigger: ['blur', 'change'],
          },
        ]"
      >
        <el-input type="password" v-model="loginObj.password" show-password>
          <i class="el-icon-lock" slot="prepend"></i>
        </el-input>
      </el-form-item>
      <el-form-item id="validate"></el-form-item>
      <el-form-item>
        <el-button
          style="width: 100%"
          type="primary"
          @click="handleLogin('form')"
          native-type="submit"
          >登录</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</div>
  
</template>

<script>
import { login } from "@/http/api";
export default {
  data() {
    const validateUsername = (rule, value, callback) => {
      let regex = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!regex.test(value)) {
        callback(new Error("用户名需要4-16位"));
        return;
      }
      callback();
    };
    return {
      loginObj: {
        username: "admin",
        password: "admin",
      },
      auto: false,
    };
  },
  methods: {
    handleLogin(formName) {
      //   axios.post("", this.loginObj);
      this.$refs[formName].validate(async (valid) => {
        if (!valid) {
          return false;
        }
        // console.log(this.captcha_obj);
        // if (!this.captcha_obj.getValidate()) {
        //   return this.captcha_obj.verify();
        // }
        const { username } = await login(this.loginObj);
        localStorage.setItem("username", username);
        let timer = setTimeout(() => {
          if (this.$route.query?.redirect) {
            return this.$router.push(this.$route.query.redirect);
          }
          this.$router.push({
            name: "index",
          });
        }, 1500);
        this.$once("hook:beforeDestroy", () => {
          clearTimeout(timer);
        });
      });
    },
    //初始化极验
    // innitGT() {
    //   const handler = function (captchaObj, vm) {
    //     captchaObj.appendTo("#validate");
    //     captchaObj
    //       .onReady(() => {
    //         vm.captcha_obj = captchaObj;
    //       })
    //       .onSuccess(() => {
    //         // 通过captcha_obj.getValidate()获取验证参数
    //         // vm.validityState();
    //       })
    //       .onError(() => {
    //         captchaObj.reset();
    //       });
    //   };
    //   window.initGeetest4(
    //     {
    //       captchaId: "da85721e0bdb5bd0abd0c007ccaa0b24",
    //     },
    //     handler,
    //     this
    //   );
    // },
  },
  created() {
    // initGeetest4(
    //   {
    //     captchaId: "da85721e0bdb5bd0abd0c007ccaa0b24",
    //   },
    //   function (captcha) {
    //     // captcha为验证码实例
    //     captcha.appendTo("#validate"); // 调用appendTo将验证码插入到页的某一个元素中，这个元素用户可以自定义
    //     captcha.onSuccess(() => {});
    //   }
    // );
    this.innitGT();
  },
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .form {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    .logo {
      text-align: center;
      img {
        width: 100px;
        height: 60px;
      }
    }
    :deep #validate {
      .geetest_captcha .geetest_holder,
      .geetest_popup_wrap .geetest_holder {
        height: 32px !important;
        width: 100% !important;
      }
    }
  }
  &::before,
  &::after {
    content: none;
  }

  @media (min-width: 768px) {
    &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50vw;
      background-image: url(https://file.iviewui.com/admin-plus-dist/img/bg-login-left.e19149ce.png);
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
    }
    &::after {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50vw;
      background-image: url(https://file.iviewui.com/admin-plus-dist/img/bg-login-right.46db3c60.png);
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
  @media (min-width: 550px) {
    .form {
      max-width: 300px;
    }
  }
}
</style>
