<template>
  <div class="login">
    <el-form
      ref="loginForm"
      :rules="loginFormRules"
      :model="loginForm"
      style="width: 300px"
    >
      <el-form-item prop="username">
        <el-input autocomplete="off" v-model="loginForm.username">
          <template slot="prepend">
            <i class="el-icon-user"></i>
          </template>
        </el-input>
      </el-form-item>

      <el-form-item prop="password">
        <el-input
          style="display: none; width: 0; height: 0"
          v-model="loginForm.password"
          autocomplete="off"
        >
          <template slot="prepend">
            <i class="el-icon-lock"></i>
          </template>
        </el-input>
        <el-input
          data-placeholder="请输入密码"
          name="password"
          data-required="true"
          type="password"
          autocomplete="new-password"
          data-max-length="50"
          spellcheck="false"
          id="auto-id-1505904797992"
          v-model="loginForm.password"
        >
          <template slot="prepend">
            <i class="el-icon-lock"></i>
          </template>
        </el-input>
      </el-form-item>

      <el-form-item>
        <el-button
          :loading="loginStatus"
          style="width: 100%"
          type="primary"
          @click="handleLogin"
          >登录</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
// import qs from "qs";
import { login } from "@/http/api";
export default {
  data() {
    const validateUsername = (rule, value, callback) => {
      let regex = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!regex.test(value)) {
        callback(new Error("用户名需要4-16位"));
        return;
      }
      callback();
    };
    return {
      loginForm: {
        username: "admin",
        password: "admin",
      },
      loginFormRules: {
        username: [
          { required: true, message: "请输入账号" },
          {
            validator: validateUsername,
            trigger: "blur",
          },
        ],
        password: [{ required: true, message: "请输入密码" }],
      },
      loginStatus: false,
    };
  },
  methods: {
    // handleClick() {
    //   const url = window.location.href.split("?")[1];
    //   // console.log(qs.parse(url));
    //   const test = new URLSearchParams(url);
    //   console.log(Object.fromEntries(test.entries()));
    // },
    //登录
    handleLogin() {
      this.$children[0].validate(async (valid) => {
        if (valid) {
          const res = await login.call(this, this.loginForm, "loginStatus");
          this.$message.success(res.msg);
          if (this.$route.query.redirect) {
            this.$router.push({
              path: this.$route.query.redirect,
            });
            return;
          }
          this.$router.push({ name: "index" });
          // const params = new URLSearchParams();
          // Object.keys(this.loginForm).map((key) => {
          //   params.append(key, this.loginForm[key]);
          // });
          // try {
          //   this.loginStatus = true;
          //   const res = await this.$http.post(
          //     "/api/manage/user/login.do",
          //     params
          //     // qs.stringify(this.loginForm)
          //   );
          //   this.loginStatus = false;
          //   if (res.status >= 200 && res.status < 300) {
          //     if (res.data.status === 0) {
          //       this.$message.success(res.data.msg);
          //       this.$router.push({ name: "home" });
          //     } else {
          //       this.$message.error(res.data.msg);
          //     }
          //   } else {
          //     this.$message.warning(res.statusText);
          //   }
          // } catch (error) {
          //   this.loginStatus = false;
          // }
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
